* {
    list-style: none;
    margin: 0;
    text-decoration: none;
    font-family: monospace;
}


/*
------------------
      header
------------------
 */


header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4963bf;
    color: #e3d8d8;
    padding: 0.6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 0;
}

header h1 {
    font-size: 1.5rem;
}

header nav ul {
    display: flex;
    gap: 1.5vw;
}

header input {
    padding: 0.8vw;
    font-size: 1rem;
    width: 30vw;
    border: solid 0.1rem currentColor;
    border-radius: 15px;
    transition: border 0.1s ease-in-out;
    background-color: #f8f5f5;
}

.header img{
    width: 1.4vw;
    height: auto;
    transition: all ease 0.5s;

}

.header img:hover {
    transform: scale(1.3);
    transition: all ease 0.5s;
}

.header input:focus {
    transform: scale(1.1);
    transition: all ease 0.7s;
}

.header h1:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
}


/*
------------------
      slider
------------------
 */


.slider {
    padding: 10rem;
    position: relative;
    max-width: 48rem;
    margin: auto;
    display: flex;
    aspect-ratio: 16 / 9 ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%. 0%, 0.25);
    column-gap: 1rem;

}



.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


/*
------------------
    categorias
------------------
 */


.categorias ul {
    display: flex;
    justify-content: space-around;
    margin: 3vw 3vw 1vw;
    padding: 2vw;

    border: 2px solid #444444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}

.categorias li {
    text-align: center;
}

.categorias img {
    width: 4.5vw;
    height: auto;
    margin-bottom: 0.5vw;
}

.categorias h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #444444;
}

.categorias li:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
    text-decoration: underline;
}


/*
------------------
      productos
------------------
 */


.productos {
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 3vw;
}

.productos p img {
    width: 2.5vw;
    height: auto;
    margin-inline: 2vw;
    padding-top: 0.5vw;
}

.productos p img:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
    color: black;
}


.producto {
    margin-top: 4vw;
    padding: 0.5vw;
    border: 0.3vw darkgray solid;
    width: 18%;
    height: 18%;
    overflow: hidden;
    border-radius: 10px;
}

.producto img {
    width: 100%;
    height: 25rem;
    object-fit: contain;
    object-position: center;
}

.producto p {
    border-top: darkgray solid;
    align-content: end;
}

.producto h4{
    text-align: start;
    padding-left: 1.5vw;
    padding-top: 3vw;
    font-size: 1.2vw;
}


/*
------------------
      footer
------------------
 */


footer {
    background: #f2f2f2;
    padding: 0.6vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #333;
}

footer .logo {
    width: 5vw;
    height: auto;
}

.img-contacto {
    width: 1.2vw;
    height: auto;
    margin-right: 0.5vw;
    vertical-align: middle;
}

.footer-text p,
.footer-contacto p {
    max-width: 25rem;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 1vw;
}


/*
------------------
      filtros
------------------
 */


.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 4vw;
    padding: 2vw;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.filtros label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.filtros span {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
}

.filtros select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.filtros select:hover {
    border-color: #188caa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filtros select:focus {
    border-color: #05888a;
}


/*
------------------
     responsive
------------------
 */

@media (width <= 1150px){

    .header img {
        width: 2.5vw;
        height: auto;
        padding: 0.3rem;
    }

    .producto{
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
    }
    .productos{
        width: 90%;
        flex-direction: column;
        padding: 3rem;
    }
    .productos p img {
        width: 10%;
        height: auto;
        flex-direction: row;
    }
}

@media (width <= 900px) {

    .categorias {
        padding-top: 10vw;
    }

    .categorias img {
        width: 40%;
        padding: 3vw;
    }

    .categorias h2{
        font-size: 1rem;
    }

    .productos{
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    .productos p img{
        width: 15%;
    }

    .producto h4{
        font-size: 1.5rem;
    }
}
@media (width <= 500px) {
    .categorias {
        padding-top: 10vw;
    }

    .categorias ul{
        flex-direction: column;
    }

    .categorias img {
        width: 15%;
        padding: 3vw;
    }

    .productos{
        width: 100%;
        flex-direction: column;
        padding: 3rem;
        padding: 0;
    }

    .productos p img{
        width: 20%;
    }

    .producto h4{
        font-size: 1.5rem;
    }
}