/*
-----------------------
      estilo global
-----------------------
 */


* {
    list-style: none;
    margin: 0;
    text-decoration: none;
    font-family: monospace;
}


/*
------------------
      header
------------------
 */


header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #515151;
    color: #e3d8d8;
    padding: 0.6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 0;
}

header h1 {
    font-size: 1.5rem;
    color: #ffc400;
}

header nav ul {
    display: flex;
    gap: 1.5vw;
}

header select{
    display: none;
}

header input {
    padding: 0.8vw;
    font-size: 1rem;
    width: 30vw;
    border: solid 0.1rem #ffc400;
    border-radius: 15px;
    transition: border 0.1s ease-in-out;
    background-color: #424141;
}

header input::placeholder {
    color: #FFD700;
}

header img{
    width: 1.4vw;
    height: auto;
    transition: all ease 0.5s;

}

header img:hover {
    transform: scale(1.3);
    transition: all ease 0.5s;
}

header input:focus {
    transform: scale(1.1);
    transition: all ease 0.7s;
}

header h1:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
}


/*
------------------
      slider
------------------
 */


.slider {
    padding: 10rem;
    max-width: 48rem;
    margin: 5vw auto 0;
    display: flex;
    aspect-ratio: 16 / 9 ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%,0.25);
    column-gap: 1rem;
    box-sizing: content-box;
}



.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}


/*
------------------
    categorias
------------------
 */


.categorias ul {
    display: flex;
    justify-content: space-around;
    margin: 3vw 3vw 1vw;
    padding: 2vw;

    border: 2px solid #444444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}

.categorias li {
    text-align: center;
}

.categorias img {
    width: 4.5vw;
    height: auto;
    margin-bottom: 0.5vw;
}

.categorias h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #e1971b;
}

.categorias li:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
    text-decoration: underline;
}


/*
------------------
      productos
------------------
 */


.productos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
}

.productos p img {
    width: 2.5vw;
    height: auto;
    margin-inline: 2vw;
    padding-top: 0.5vw;
}

.productos p img:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
}


.producto {
    margin-top: 4vw;
    padding: 0.5vw;
    border: 0.3vw darkgray solid;
    width: 19%;
    height: 19%;
    overflow: hidden;
    border-radius: 10px;
}

.producto img {
    width: 100%;
    height: 25rem;
    object-fit: contain;
    object-position: center;
}

.producto p {
    border-top: darkgray solid;
    align-content: end;
}

.producto h4{
    text-align: start;
    padding-left: 1.5vw;
    padding-top: 3vw;
    font-size: 1.2vw;
}


/*
------------------
      footer
------------------
 */


footer {
    background-color: #605f5f;
    padding: 0.6vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffc400;
    margin-top: 3vw;
}

footer .logo {
    width: 5vw;
    height: auto;
}

.img-contacto {
    width: 1.2vw;
    height: auto;
    margin-right: 0.5vw;
    vertical-align: middle;
}

.footer-text p,
.footer-contacto p {
    max-width: 25rem;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 1vw;
}


/*
------------------
      filtros
------------------
 */


.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 4vw;
    padding: 2vw;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filtros label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.filtros span {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
}

.filtros select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.filtros select:hover {
    border-color: #188caa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filtros select:focus {
    border-color: #05888a;
}


/*
------------------
     responsive
------------------
 */

@media (width <= 1150px){
    .categorias {
        justify-content: space-evenly;
        align-items: center;
        margin: 4vw;
        width: 80%
    }
    .categorias img {
        width: 50%;
        padding: 3vw;
    }
    .categorias a {
        width: 30%;
    }
    .categorias li{
        width: 30%;
        align-items: center;
    }
    .categorias ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .header img {
        width: 2.5vw;
        height: auto;
        padding: 0.3rem;
    }

    .producto{
        width: 40%;
    }

    .productos p img {
        width: 8vw;
        flex-direction: row;
    }
    .producto h4{
        font-size: 1.4rem;
    }
}


@media (width <= 500px) {
    .categorias img {
        width: 50%;
        padding: 3vw;
    }
    .categorias a {
        width: 30%;
    }
    .categorias li{
        width: 30%;
        align-items: center;
    }
    .categorias ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .producto{
        width: 80%;
    }

    .productos p img{
        width: 20%;
    }
}



/*
-------------------------
     pagina configuracion
-------------------------
 */

.nav-config{
    padding: 2vw 1vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.perfil {
    width: 95%;
    margin: 6vw 0 0 2vw;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    border-bottom: #444444 solid 2px;
    padding-bottom: 0.5vw;
    align-items: center;
    justify-content: left;
}

.perfil img {
    width: 2vw;
    height: auto;
    padding-right: 0.5vw;
}

.nav-config nav{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.nav-config img{
    width: 2vw;
    padding: 1vh;
}

.nav-config li{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

}


.form-config {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 40vw;
    width: 100%;
    margin: 0 0 1rem 15vw;

}


.formulario label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario input:focus {
    outline: none;
    border-color: #4963bf;
    box-shadow: 0 0 5px rgba(73, 99, 191, 0.5);
}

.botones {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.boton-guardar-cambios,.boton-cancelar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #4963bf;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-cancelar img{
    transform: rotate(45deg);
}

.boton-guardar-cambios:hover, .boton-cancelar:hover {
    background-color: #333;
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.boton-guardar-cambios {
    background-color: #4caf50;
}

.boton-cancelar {
    background-color: #dd3535;
}

.boton-cancelar:hover {
    background-color: #b80c0c;
}

.boton-guardar-cambios:hover {
    background-color: #388e3c;
}

.boton-guardar-cambios img, .boton-cancelar img{
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.form-config .formulario input[type="text"] {
    margin-bottom: 20px;
}